@import url(global.css);

button{
    height: 6vh;
    width: 10vw;
    background: blue;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 15px;
}
button:hover{
    background: rgb(112, 144, 250);
    color: black;
    
}
.contenedor-todo{
    display: grid;
    grid-template-areas: 
    "informacion formulario";
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    background-color: transparent;
    padding: 20px;
}
.container-derecha{
    grid-area: informacion;
    display: grid;
    grid-template-areas: 
    "titulo"
    "concepto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    
}
.contenido-derecha-titulo{
    grid-area: titulo;
   
}
.contenido-derecha-titulo h1{
    font-size: 2vw;
    margin-bottom: 20px;
}
.contenido-derecha-texto{
    grid-area: concepto;  
    width: 40vw;
}
.contenido-derecha-texto p{
    text-align: left;
   
}
.container-formulario{
    grid-area: formulario;
}
.container-formulario{
    display: grid;
    grid-template-areas: 
    "titulo"
    "contenido";
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 40vw;
    padding: 15px;
}
.titulo-formulario{
    grid-area: titulo;
}
.contenido-formulario{
    grid-area: contenido;
    display: grid;
    grid-template-areas: 
    "formulario"
    "botones";
    justify-content: center;
    align-items: center;
    height: 83vh;
    overflow-y: auto;
    
}
.formulario-contenido{
    grid-area: formulario;
}
.botones-formulario{
    grid-area: botones;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.titulo__formulario{
    font-size: 2.2vw;
    text-align: center;
}
.contenido-formulario label{
    padding-left: 15px;
}
.contenido-formulario input{
    margin: 10px;
    width: auto; 
    height: 5vh;
    width: 35vw;
    padding-left: 10px;
    border: transparent;
    border-bottom: 1px solid #191919;
    font-size: 1.2vw;
}
.contenido-formulario input:focus{
    outline: none;
}
.contenido-formulario select{
    margin: 15px;
    width: auto; 
    height: 5vh;
    width: 36vw;
    padding-left: 10px;
    border: transparent;
    border-bottom: 1px solid #191919;
    font-size: 1.2vw;
}
.contenido-formulario select:focus{
    outline: none;
}
