@import url(global.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(245, 243, 246);
}

button{
    height: 6vh;
    width: 7vw;
    background: #026bd1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
button:hover{
    background: rgb(112, 144, 250);
    color: black;
    
}
a{
    color: black;
    font-size: 1.5vw;
    text-transform: uppercase;
}



.hero {
    display: grid;
    grid-template-areas:
        "menu"
        "principal-contenedor"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
   
   
}

/* CONTENIDO MENU */
.menu {
    grid-area: menu;
    display: grid;
    height: 10vh;
    background-color: #026bd1;
    width: auto;
    
}
.menu-contenedor {
    display: grid;
    grid-template-areas:
        "enlaces";
    align-items: center;   
} 
.menu-lista {
    grid-area: enlaces;
    
}

.menu-contenedor .menu-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    font-weight: 50;
    color: #ffff;
}
.menu-contenedor .menu-lista .menu__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 0 20px 0 20px;
}
.menu-contenedor .menu-lista .menu__item {
    color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a {
    font-size: 1.5vw;
    color: var(--blanco);
}

.menu-contenedor .menu-lista .menu__item a:hover {
    color: #b5d0eb;
}

.menu-contenedor .menu-lista .menu__item--active a {
    font-weight: bold;
    border-bottom: 1px solid #026bd1;
    color: white;
}

.principal-contenido{
    display: grid;
    grid-template-areas: 
    "slider"
    "destacados"
    "comercio"
    "beneficios";
    padding: 0.9vw ;

}
.opciones-slider{
    grid-area: slider;
}
.opciones-destacados{
    padding: 1.5vw 0;
    grid-area: destacados;
}

.opciones-comercio{
    grid-area: comercio;
    padding: 1.5vw 0;
}

.opciones-beneficios{
    grid-area: beneficios;
}

  /* OPCIONES SLIDER */
  .opciones-slider .contenedor-buscador{
    display: flex;
    padding: 0 2vw ;
}

  .opciones-slider .contenedor-buscador input[type=text] {
    width: 25vw;
    padding: 0.9vw;
    border: 1px solid black;
    background-color: white;
    border-radius: 1vw;
    margin-top: 20px;
}
    /* CONTENEDOR BENEFICIOS */

.contenedor-beneficios{
        padding: 2vw 2vw;
        display: inline-block;
}
    .contenido-beneficios button{
        display: flex;
        padding: 1.2vw;
        border: 1px solid transparent;
        border-radius: 4vw;
        column-gap: 1.5vw;
        height: 8vh;
        width: 17vw;
        background-color: white;
        align-items: center;
        box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-size: 1.1vw;
        font-weight: bold;
    }
    .contenido-beneficios button .fa-solid{
        color: #026bd1;
    }
    .contenido-beneficios button:hover{
        background-color: rgb(226, 226, 226);
    }

    /* CONTENIDO SLIDER */

    .contenido-slider{
        display: flex;
        padding: 2vw 0;
        column-gap: 2vw;
        overflow:auto;
        background-color: transparent;
        width: 97vw;
      
    }

    .item{
        display: inline-block
    }

    .item-contenido button{
        display: flex;
        padding: 1.2vw;
        border: 1px solid transparent;
        border-radius: 4vw;
        column-gap: 1.5vw;
        height: 8vh;
        width: 10vw;
        background-color: white;
        align-items: center;
        box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-size: 1.1vw;
        font-weight: bold;
    }
    .item-contenido button:hover{
        background-color: rgb(226, 226, 226);
    }
     /* CONTENIDO DESCATACADOS */

    .contenedor-destacados{
        display: grid;
        grid-template-areas: 
        "textos"
        "multimedia";
       
    }

    .contenedor-destacados .textos{
        grid-area: textos;
        display: grid;
        grid-template-areas: 
        "titulo ver_mas";
        justify-content: space-between;
        width: 97vw;
    }

    .textos .destacados-titulo{
        grid-area: titulo;
    }

    .textos .destacados-ver-mas{
        grid-area: ver_mas
    }
    
    .destacados-titulo p{
        font-size: 1.7vw;
        font-weight: bold;
        text-transform: uppercase;
    }

    .destacados-ver-mas p{
        font-size: 1.7vw;
        font-weight: bold;
        text-transform: uppercase;
    }

    .destacados-ver-mas{
        grid-area: ver_destacados
    }

    .descatados-multimedia{
        grid-area: multimedia;
        display: flex;
        column-gap: 2vw;
        width: 97vw; 
        overflow: auto;
        margin-top: 20px;
        background-color: transparent;
    }

    .descatados-multimedia img{
        height: 40vh;
        width: auto;
        border-radius: 1vw;
    }
    /*CONTENIDO COMERCIO*/
    .contenedor-comercio{
        display: grid;
        grid-template-areas: 
        "textos"
        "multimedia";

    }
    .contenedor-comercio .textos{
        grid-area: textos;
        display: grid;
        grid-template-areas: 
        "titulo comercio-ver-mas";
        justify-content: space-between;
        width: 97vw; 
    }
    .textos .titulo-comercio{
        grid-area: titulo;
    }
    .textos .contenido-comercio{
        grid-area: comercio-ver-mas;
    }
    .titulo-comercio p{
        font-size: 1.7vw;
        font-weight: bold;
        letter-spacing: 1.6;
        text-transform: uppercase;
    }
    .contenido-comercio p{
        font-size: 1.7vw;
        text-transform: uppercase;
        font-weight: bold;
    }
    .contenedor-comercio-multimedia{
        grid-area: multimedia;
        display: flex;
        column-gap: 2vw;
        width: 97vw; 
        overflow: auto;
        background-color: transparent;
        margin-top: 20px;

    }
    .comercio-contenido{
        display: grid;
        grid-template-areas: 
        "imagenes"
        "titulo";  
    }
    
    .comercio-contenido .comercio-imagenes{
        grid-area: imagenes;
    }
    .comercio-contenido .comercio-titulo{
        grid-area: titulo;
        text-align: center;
        font-size: 1.2vw;
    }
    .comercio-imagenes img{
        height: 15vh;
        width: 7vw;
        border-radius: 50%;
    }
    /*CONTENEDOR BENEFICIOS*/
    .beneficios-contenedor{
        display: grid;
        grid-template-areas: 
        "texto"
        "boletos";
        width: 97vw;
        row-gap: 2vw;
    }
    .beneficios-contenedor .texto{
        grid-area: texto;
    }
    .beneficios-contenedor .tickets-contenedor{
        grid-area: boletos;
    }
    .texto .titulo-beneficios{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.7vw;
    }
    .contenedor-boletos{
        display: flex;
        flex-wrap: wrap;
        column-gap: 2vw;
        row-gap: 2vw;
        justify-content: center;
        align-items: center;
    }
    .contenido-tickets{
        display: grid;
        grid-template-areas: 
        "imagen contenido";
        background:  white;
        box-shadow:  3px 3px 3px 1px rgba(0, 0, 0, 0.2);
        height: 15vh;
        border-radius: 1vw;
        width: 40vw;
        column-gap: 2vw;
        padding: 2vw;
 
    }
    .imagen-tickets{
        grid-area: imagen;
       
    }
    .imagen-tickets img{
        height: 15vh;
        width: 7vw;
        border-radius: 50%;
    }
    .tickets-contenido{
        grid-area: contenido;
    }
    .tickets-contenido .texto-ticket{
        display: flex;
        flex-direction: column;
        width: 30vw;
        text-align: justify;
         
    }
    .tickets-contenido .texto-ticket a{
        color: white;
        font-size: 1.5vw;
    }
    .boton-ver-mas-beneficios{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .boton-ver-mas-beneficios button{
        color: white;
        font-weight: bold;
        font-size: 1.2vw;
        width: 10vw;
    }
    /*TARJETAS */
    .contenido-comercios-tarjetas{
        display: grid;
        grid-template-areas: 
        "imagen contenido";
        background:  white;
        box-shadow:  3px 3px 3px 1px rgba(0, 0, 0, 0.2);
        height: 17vh;
        border-radius: 1vw;
        width: 35vw;
        column-gap: 2vw;
        padding: 2vw;
    }
    .imagen-tarjetas{
        grid-area: imagen;
    }
   .imagen-tarjetas img{
        height: 15vh;
        width: 7vw;
        border-radius: 50%;
    }
   .texto-tarjeta{
        grid-area: contenido;
    }
   .texto-tarjeta{
        display: flex;
        flex-direction: column;
        width: 27vw;
        text-align: justify;
   }
   /*BOTONES INICIO DE SESION*/
   .boton-inicio-sesion  button{
    width: 30vw;
    color: white;
   }
   .boton-registrarte button{
    width: 30vw;
    color: white;
   }
  
@media only screen and (max-width: 600px) {
    button{
        height: 4vh;
        width: 25vw;
    }
    a{
        color: black;
        font-size: 4vw;
        text-transform: uppercase;
    }
    /* CONTENIDO MENU */
    .menu-contenedor .menu-titulo .menu__titulo {
        font-size: 8vw;
    }

    .menu-contenedor .menu-lista .menu__item a {
        font-size: 5vw;
    }
    .menu-contenedor .menu-lista .menu__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        margin: 0 20px 0 20px;
    }

    /* OPCIONES SLIDER */
    .opciones-slider .contenedor-buscador{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .opciones-slider .contenedor-buscador input[type=text] {
        width: 90%;
        padding: 3vw ;
        border: 1px solid transparent;
        background-color: white;
        border-radius: 1vw;
    }

    /* CONTENEDOR BENEFICIOS */

    .contenedor-beneficios{
        padding: 2vw ;
        display: inline-block;
    }
    .contenido-beneficios button{
        display: flex;
        padding: 3vw;
        border: 1px solid transparent;
        border-radius: 4vw;
        column-gap: 2vw;
        width: 43vw;
        height: 5vh;
        background-color: white;
        align-items: center;
        font-size: 3vw;
    }

    .contenedor-beneficios .contenido-beneficios .beneficios-texto{
        font-size: 3vw;
    }

    /* CONTENIDO SLIDER */
    .item-contenido button{
        column-gap: 2.5vw;
        border-radius: 3vw;
        padding: 2vw 3vw;
        height: 4vh;
        width: 25vw;
        font-size: 3vw;
    }

    /* CONTENIDO DESCATACADOS */
    .destacados-titulo p{
        font-size: 4vw;
        font-weight: bold;
        text-transform: uppercase;
    }
    .destacados-ver-mas p{
        font-size: 4vw;
        font-weight: bold;
        text-transform: uppercase;
    }
    .descatados-multimedia{
        width: 97vw; 
    }

    .descatados-multimedia img{
        height: 23vh;
        width: auto;
        border-radius: 4vw;
    }
    /*CONTENIDO COMERCIO*/
    .titulo-comercio p{
        font-size: 4vw;
        font-weight: bold;
        letter-spacing: 1.6;
        text-transform: uppercase;
    }
    .contenido-comercio p{
        font-size: 4vw;
        text-transform: uppercase;
    }
    .comercio-multimedia{
        width: 97vw;
        margin: 20px 0 20px 0;
    }
    .comercio-contenido .comercio-titulo{
        text-align: center;
        font-size: 4.5vw;
    }
    .comercio-imagenes img{
        height: 10vh;
        width: 20vw;
        border-radius: 50%;
    }
    /*CONTENEDOR BENEFICIOS*/
 
    .texto .titulo-beneficios{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 4vw;
    }
    .tickets-contenedor{
        row-gap: 5vw;
    }
    .contenido-tickets{
        height: 20vh;
        width: 90vw;
        column-gap: 4.5vw;
        padding: 2vw;
    }
    .imagen-tickets img{
        height: 10vh;
        width: 20vw;
        border-radius: 50%;
        padding: 10vw 0;
    }
    .tickets-contenido .texto-ticket{
        width: 60vw;
        font-size: 4vw;
        padding: 2vw 0;
    }
    .tickets-contenido .texto-ticket a{
        font-size: 4vw;
    }
    .boton-ver-mas-beneficios button{
        font-size: 4vw;
        width: 30vw;
    }
    /*TARJETAS */
    .contenido-comercios-tarjetas{
        height: 17vh;
        width: 85vw;
    }
   .imagen-tarjetas img{
    height: 10vh;
    width: 20vw;
    border-radius: 50%;
    padding: 10vw 0;
    }

   .texto-tarjeta{
        width: 60vw;     
   }
   /*BOTONES INICIO DE SESION*/
   .boton-inicio-sesion  button{
    width: 80vw;
   }
   .boton-registrarte button{
    width: 80vw;
   }   
}   